<div class="flex flex-col gap-5">
  <app-tabla
    [datos]="datos"
    (onDeleteUser)="eliminarUsuario($event)"
  ></app-tabla>
  <div>
    <form
      #formPersona="ngForm"
      class="bg-slate-200 rounded-lg p-4 max-w-xl mx-auto"
    >
      <div class="form-group mb-6">
        <h1 class="my-3 text-blue-500 font-bold text-2xl">
          Formulario de Registro
        </h1>

        <label
          for="exampleInputEmail2"
          class="form-label inline-block mb-2 text-gray-700"
          >Nombre</label
        >
        <input
          type="text"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="exampleInputEmail2"
          aria-describedby="emailHelp"
          placeholder="Ingresa nombre"
          [(ngModel)]="nombre"
          required
          name="nombre"
        />
      </div>
      <div class="form-group mb-6">
        <label
          for="exampleInputPassword2"
          class="form-label inline-block mb-2 text-gray-700"
          >Apellido</label
        >
        <input
          type="text"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="exampleInputPassword2"
          placeholder="Ingresa apellido"
          [(ngModel)]="apellido"
          required
          name="apellido"
        />
      </div>
      <div class="form-group mb-6 flex flex-col">
        <label
          for="exampleInputPassword2"
          class="form-label inline-block mb-2 text-gray-700"
          >Carrera:</label
        >
        <input
          type="text"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="exampleInputPassword2"
          placeholder="Ingresa carrera"
          [(ngModel)]="carrera"
          required
          name="carrera"
        />
      </div>

      <button
        [disabled]="formPersona.invalid"
        type="submit"
        class="w-full px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out"
        (click)="insertarDatos(); formPersona.reset()"
        [ngClass]="formPersona.invalid ? 'bg-blue-300' : 'bg-blue-600'"
      >
        Enviar
      </button>
    </form>
  </div>
</div>
