<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
              >
                Nombre
              </th>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
              >
                Apellido
              </th>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
              >
                Carrera
              </th>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-left"
              ></th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="border-b"
              [ngClass]="even ? 'bg-gray-100' : 'bg-white'"
              *ngFor="let dato of datos; let i = index; let even = even"
            >
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                {{ dato.nombre }}
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                {{ dato.apellido }}
              </td>
              <td
                class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"
              >
                {{ dato.carrera }}
              </td>
              <td
                class="flex justify-center items-center px-6 py-4 whitespace-nowrap"
              >
                <!-- <button
                  class="bg-red-500 text-white px-4 py-2 rounded-lg"
                  (click)="outIndexUsuario(i)"
                >
                  Eliminar
                </button> -->
                <button
                  class="bg-red-500 text-white px-4 py-2 rounded-lg"
                  [swal]="{
                    title: 'Eliminar a ' + dato.nombre,
                    denyButtonText: 'Don\'t save',
                    showCancelButton: true,
                    confirmButtonColor: 'red',
                    confirmButtonText: 'Eliminar'
                  }"
                  (confirm)="outIndexUsuario(i)"
                >
                  🗑
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
